ul.folder-tree {
  margin: 0;
  padding: 10px;
  list-style: none; }
  ul.folder-tree li {
    list-style: none;
    line-height: 2em;
    font-family: inherit; }
    ul.folder-tree li span.name {
      background: #FFF; }
    ul.folder-tree li i {
      font-size: 1.3em;
      padding-right: 5px; }
      ul.folder-tree li i.icon-folder-close {
        color: #E6AC27; }
      ul.folder-tree li i.icon-file {
        color: #333; }
  ul.folder-tree ul {
    font-family: inherit; }
  ul.folder-tree > li {
    position: relative; }
    ul.folder-tree > li > span.name {
      font-weight: bold; }
    ul.folder-tree > li.info {
      padding: 10px 20px;
      margin-bottom: 5px;
      background: #F5F0D0;
      border: 1px solid #d2cc65;
      display: none; }
    ul.folder-tree > li a {
      position: absolute;
      right: 10px;
      top: 5px;
      font-family: inherit; }